.icon-input-wrapper {
  width: 70%;
  margin: 0 auto;
}

.input-wrapper {
  width: 50%;
  margin-top: 20px;
}

/*.button-wrapper {
  width: 80%;
}*/

.button-wrapper .button {
  width: 100%;
}

.menu-wrap {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}

.steps-wrapper {
  /*border: 1px solid red;*/
}

/* you can make up upload button and sample style by using stylesheets */

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}